$text-main-c: #000000;
$text-secondary-c: #7D7D7D;
$text-third-c: #21A038;
$link-main-c: #006688;
$link-hover: lighten($link-main-c, 20%);
$button-main-c: #00D900;
$button-hover-c: #ffffff;
$border-main-c: #00D900;
$icon-fill-c: #21A038;
$error-c: #D91016;

$font-main: "SB Sans Display", "Arial", sans-serif;
