.cell {
    //height: 100%;
    position: relative;
    padding: 0 0 14px 0;
    transition: 0.5s;

    &--margin {
        margin-bottom: 24px;
    }

    &--with-checkbox {
        margin-bottom: 8px;
    }

    &__name {
        display: block;
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 20px;
        color: $text-main-c;
        background-color: transparent;
        transition: 0.5s;
    }

    &__data {
      position: relative;
      padding: 14px 24px;
      font-size: 20px;
      line-height: 25px;
      color: $text-secondary-c;
      border: 1px solid #F4F4F4;
      transition: 0.5s;

      &.disabled {
          pointer-events: none;
          background-color: #F9FBFD;
          //cursor: not-allowed;
      }
    }

    &__data-icon {
        position: absolute;
        top: 50%;
        right: 24px;
        transform: translate(0, -50%);
    }

    &__error-message {
        position: absolute;
        width: 100%;
        bottom: -3px;
        left: 0;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: $error-c;
        display: none;
    }

    &--error {

        .cell__name {
            color: $error-c;
        }

        .cell__data {
            border-color: $error-c;
        }
    }
}
