.checkbox {

    &--margin {
        margin-bottom: 24px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        @include before_480 {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        flex-shrink: 0;
        align-items: center;

        &--half {
            width: 50%;
            margin-bottom: 30px;
        }
    }

    &__window {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        margin-right: 12px;
        background: #fff;
        border: 1px solid $text-secondary-c;
        border-radius: 2px;
        transition: 0.5s;
    }

    &__icon-mark {
        fill: #fff;
        opacity: 0;
        transition: 0.5s;
    }

    &__name {
        display: flex;
        align-items: center;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.04em;
        color: $text-main-c;
        cursor: pointer;

        &--info {
            margin-right: 12px;
            min-width: 126px;
        }
    }

    &__input:checked + .checkbox__name {
        .checkbox__icon-mark {
            opacity: 1;
        }

        .checkbox__window {
            background-color: #00d900;
            border: 1px solid #00d900;
        }
    }

    &__link {
        color: $text-secondary-c;
        text-decoration: none;
        border-bottom: 1px solid $text-secondary-c;
        transition: 0.5s;

        &:hover {
            border-bottom: 1px solid transparent;
        }
    }

    &__text {

        &--margin {
            margin-right: 5px;
        }
    }

    &__error-message {
        display: none;
        margin-top: 5px;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.04em;
        color: $error-c;
    }
}
